html, body {
    height: 100%;
    margin: 0;
}

body{
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: #2b4c65;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.heading{
    text-align: center;
    font-weight: bold;
}

.whoarewe{
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
}

.aboutus{
    font-size: 30px;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
}


.navbar-brand {
    font-weight: bold;
}

.dropdown-menu .dropdown-item {
    padding: 10px 20px;
    color: #3b3434;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #ccc;
    color: rgb(31, 31, 31);
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}