html, body {
    height: 100%;
    margin: 0;
}

body{
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-image: url(image/menupage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.navbar-brand {
    font-weight: bold;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}