html, body {
    height: 100%;
    margin: 0;
}

body{
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-image: url(image/menupage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.navbar-brand {
    font-weight: bold;
}


/* Contact information styling */
.contact-left {
    width: 85%;
    margin: 130px auto;
    padding-left: 25px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #9deccb;
}


.contact-left p {
    font-size: 30px;
    color: #5f5e5e;
    margin-bottom: 40px;
    font-weight: 600;
}

.contact-left p i:hover{
    color:  #414040;
}
.contact-left p a{
    color: #5f5e5e;
    text-decoration: none;
}

.contact-left p a:hover{
    color: rgb(11, 116, 215);
}

/* Social icons styling */
/* .social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: #5f5e5e;
    font-size: 40px;
    margin-right: 25px;
    transition: color 0.3s ease;
    font-weight: 600;
}

.social-icons a:hover {
    color: #ffffff;
} */


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.dropdown-menu .dropdown-item {
    padding: 10px 20px;
    color: #3b3434;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #ccc;
    color: rgb(31, 31, 31);
}