html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #2b4c65;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: auto;
}

/* Navbar */
.navbar-brand {
  font-weight: bold;
}

/* Heading */
.contactusheading {
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: 600;
  margin-top: 40px;
  text-decoration: underline;
}

/* Contact section */
.contact-us {
  max-width: 900px;
  margin: 60px auto;
  background: white;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  padding: 40px;
}


.contact-us p {
  font-size: 18px;
  color: #333;
  margin-bottom: 25px;
}

.contact-options h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

.contact-options ul {
  font-size: 18px;
  list-style: none;
  padding-left: 0;
}

.contact-options li {
  margin-bottom: 25px;
}

.contact-options a {
  color: #007bff;
  text-decoration: none;
}

.contact-options a:hover {
  text-decoration: underline;
}

.closing-note {
  font-style: italic;
  color: #444;
  font-size: 18px;
  margin-top: 20px;
}

/* Footer */
.footer {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.dropdown-menu .dropdown-item {
  padding: 10px 20px;
  color: #3b3434;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #ccc;
  color: #1f1f1f;
}

/* Responsive */
@media (max-width: 992px) {
  .contactusheading {
    font-size: 40px;
    margin-top: 20px;
  }

  .contact-us {
    width: 85%;
    padding: 30px;
  }

  .contact-us h2 {
    font-size: 28px;
  }

  .contact-us p, 
  .contact-options ul {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .contactusheading {
    font-size: 28px;
    margin-top: 15px;
  }

  .contact-us {
    width: 95%;
    padding: 20px;
  }

  .contact-us h2 {
    font-size: 24px;
  }

  .contact-us p, 
  .contact-options ul {
    font-size: 15px;
  }
}
