html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #6dd3a9;
    min-height: 100vh; /* Ensures footer is pushed to the bottom when content is short */
    display: flex;
    flex-direction: column;
}

.navbar-brand {
    font-weight: bold;
}

/* Footer styles */
.footer {
    background-color: #333; /* Change as needed */
    color: #fff; /* Change as needed */
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto; /* Pushes footer to the bottom */
}

/* FAQ Styles */
.faq-item {
    margin: 10px auto;
    max-width: 800px; /* Adjust based on your design */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* Add bottom margin to create space between last FAQ and footer */
}

.faq-item:last-of-type {
    margin-bottom: 50px; /* Space between last FAQ item and footer */
}

.faq-question {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
}

.faq-question:hover {
    background-color: #e1e1e1;
}

.faq-answer {
    display: none;
    padding: 10px;
    border-top: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
}

.close-btn {
    font-size: 22px;
    cursor: pointer;
    display: none;
}

.faq-question.active .close-btn {
    display: inline;
}
