html, body {
    height: 100%;
    margin: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: #2b4c65;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.navbar-brand {
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Feedback form styles */
.contact-right {
    max-width: 700px;
    height: 78vh;
    margin-top: 20px;
    margin-left: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Light shadow for depth */
    background-color: white;
}

.contact-right h4 {
    color: black; /* Dark gray color for section headers */
    margin-bottom: -10px; /* Space between headers and input fields */
    font-size: 22px;
    font-weight: 600;
}

.contact-right p {
    margin: 15px 0; /* Space between input fields */
}

.contact-right textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #95B4CC; 
    border-radius: 10px;
    resize: vertical; /* Allow vertical resizing of textarea */
    background-color: #95B4CC;
    color: black;
}

.contact-right input {
    width: 100%;
    padding: 5px;
    border: 1px solid #95B4CC;
    border-radius: 10px;
    resize: vertical; /* Allow vertical resizing of textarea */
    background-color: #95B4CC;
    color: black;
}

.btn2 {
    background-color: #6b8ba4; /* Greenish color for submit button */
    color: #ffffff; /* White text color for button */
    border: 1px solid #6b8ba4;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 5px;
    font-weight: 600;
}

.btn2:hover {
    background-color: #ffffff; /* Darker greenish color on hover */
    color: #6b8ba4;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #6b8ba4;
}

/* Ensure the button keeps its color when clicked (focus/active states) */
.btn2:active,
.btn2:focus,
.btn2:visited {
    background-color:   #ffffff !important;                     box-shadow: none !important;
    outline: none !important; 
}



/*********agter submitting  will print*************/
#msg {
    color: #2b4c65;
    margin-top: 15px;
    display: block;
    font-size: 18px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    height: 40px;
}

.dropdown-menu .dropdown-item {
    padding: 10px 20px;
    color: #3b3434;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #ccc;
    color: rgb(31, 31, 31);
}