body {
    font-family: Arial, sans-serif;
    background-color: #2b4c65 !important;
}

.navbar-brand {
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word;
}

td{
    color: white;
}
th {
    background-color: #f2f2f2;
    text-align: left;
}
h2 {
    margin-top: 40px;
}
.table-section {
    margin-bottom: 20px;
}

.container:last-of-type {
    margin-bottom: 50px; /* Space between last FAQ item and footer */
}

.dropdown-menu .dropdown-item {
    padding: 10px 20px;
    color: #3b3434;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #ccc;
    color: rgb(31, 31, 31);
}

.table-section h2 {
    color: white;
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 15px;
}

@media (max-width: 600px) {
    .table-section h2 {
        font-size: 18px;
    }
}
